body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

#overlay {
  position: absolute;
  z-index: 1000;
  padding: 6px;
  margin: 10px;
  
}

.header {
  display: flex;
  align-items: center;
}

.header img {
  background: rgba(255, 255, 255);
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #76381a;
  width: 110px;
  display: block;
}

.header p {
  background: rgba(255, 255, 255,0.9);
  font-family: 'Bree Serif', serif;
  padding: 6px 8px;
  margin: 10px;
  border-radius: 10px;
  color: #76381a;
}

#select-location {
  outline: none;
  border: 1px solid #76381a;
  background-color: white;
  border-radius: 5px;
  margin-top: 5px;
  width: 250px;
  font-size: 11px;
  padding: 2px;
  color: #76381a;
}

#slide-in {
  padding: 10px;
  position: absolute;
  width: 400px;
  height: 300px;
  box-sizing: border-box;
	z-index: 1000;
	background: rgba(255, 255, 255);
  transition: 0.5s;
  bottom: 0;
  left: 24px;
  margin-bottom: -310px;
  overflow: scroll;
}

#slide-in.in {
  margin-bottom: 0px;
} 
#slide-in::-webkit-scrollbar{
  width: 5px;
}
#slide-in::-webkit-scrollbar-thumb {
  background: #76381a;
  border-radius: 5px;
}

.slide-in__boton { 
position: absolute;
right: 0;
margin-right: 10px;
cursor: pointer;
border-radius: 5px;
color: #76381a;
border: 1px #76381a solid;
font-weight: bold;
font-size: 10px;
outline: none;
transition: .3s;
}

.slide-in__boton:hover {
  background-color: #76381a;
  color: #fff
}

#tituloAtractivo {
  font-family: 'Bree Serif', serif;
  color: #76381a;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 0px;
}
#infoAtractivo {
  color: rgba(122,184,0);
  margin-top: 0px;
}

.leaflet-popup-tip-container {
  transform: rotate(180deg);
  position: relative;
  left: 50%;
  top: -53px;
}
.leaflet-popup-content-wrapper {
  border-radius: 8px;
  color: #76381a;
}

.leaflet-container a.leaflet-popup-close-button{
  font: 10px Tahoma, Verdana, sans-serif;
  padding: 2px 2px 0px 0px; 
}

.leaflet-popup-content {
  margin:11px 8px 5px 5px;
}
Carousel */

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}


.carousel {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */ 
  scrollbar-width: 0px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel::-webkit-scrollbar-track {
  background: transparent;
}

.carousel::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.carousel {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
}
 li img {
   width: 100%;
 }


.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
} 


@media only screen and (max-width: 767px){
  .header img {
    width: 70px;
  }
  .header p {
    font-size: x-small;
  }
  #slide-in {
    width: 100%;
    left: 0;
  }
  
  #tituloAtractivo {
  font-size: large;
  }

  #infoAtractivo {
    font-size: medium;
    margin-bottom: 3px;
  }
  
  #actividadesAtractivo {
    font-size: small;
  }
  #select-location {
  width: 150px;
  font-size: 10px;
  }
}
