body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

#overlay {
  position: absolute;
  z-index: 2000;
  margin: 10px;
  padding: 6px;
  max-width: 400px;
}

.header {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
}

.header h2 {
  color: #32a663;
  font-family: 'Bree Serif', serif;
  margin: 0px;
  padding: 5px 8px;
}

.header p {
  font-family: 'Bree Serif', serif;
  padding: 3px 8px;
  margin: 0px;
  color: #e69522;
}
.home{ 
  cursor: pointer;
  border-radius: 5px;
  padding: 3px;
  color: #e69522;
  font-weight: bold;
  text-decoration: none;
  font-size: 11px;
  outline: none;
  transition: .3s;
  background-color: white;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.35);
  font-family: Arial, Helvetica, sans-serif;
}

.leaflet-left .leaflet-control {
  margin-left: 20px;
}

.leaflet-top .leaflet-control {
  margin-top: 20px;
}
.leaflet-control-layers-expanded {
  background: rgba(255, 255, 255, 0.90);
}


input[type="checkbox"] {
    background: red;
}
label input[type="checkbox"]:checked {
      background: red;
}

.leaflet-popup-tip {
  background: rgba(255, 255, 255,0.8);
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
  color: #000000;
  background: rgba(255, 255, 255, 0.7);
  /* box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65); */
}

.leaflet-container a.leaflet-popup-close-button{
  font: 10px Tahoma, Verdana, sans-serif;
  /* padding: 10px;  */
}
.leaflet-popup-content {
  line-height: 0.9;
  margin: 10px 10px
}
.leaflet-popup-content h3 {
  color: #e69522;
  margin-block-end: 0em;
  margin-block-start: 0em;
}

.leaflet-popup-content p {
  margin-block-end: 0em;
  margin-block-start: 0em;
}
/* popup de como llegar */

.popupvias .leaflet-popup-content-wrapper {
  background-color: rgba(43, 135, 127);
  border: 50px red;
  color: white;
}
.popupvias .leaflet-popup-content{
  line-height: 1.2;
}
.popupvias .leaflet-popup-tip-container {
  display: none
}

.creditos {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-decoration: none;
  bottom: 0px;
  left: 10px;
  background: rgba(255, 255, 255, 0.7);
  z-index: 2000;
  padding: 0px 5px;
  margin: 0px;
  color: #333
}

@media only screen and (max-width: 767px){

  .header h2 {
    font-size: large;
  }
  .header p {
    font-size: small;
  }

  .leaflet-control-zoom {
    display: none;
  }
}
